/* Global Styles */

img {
    max-width: 100%;
}

body {
    background-color: aquamarine;
}

/* Mobile styles */

#container {
    margin: 10px;
}

header {
    background-color: cadetblue;
    padding: 20px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: aquamarine;
    color: cadetblue;
    font-size: 1.5em;
    text-decoration: none;
    margin: 5px 0;
    height: 50px;
    line-height: 50px;
    text-shadow: 1px 1px 1px black;
}

nav li a:hover {
    background-color: cornflowerblue;
    color: darkblue;
    text-shadow: none;
}

section, aside {
    padding: 20px;
}

section { 
    background-color: orange;
}

section h1 {
    color: goldenrod;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-size: 1.6em;
}

aside {
    background-color: green;
    margin-top: 10px;
}

aside h2, aside h3 {
    color: orange;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-size: 1.3em;
}

aside hr {
    border-color: yellowgreen;
}

footer {
    background-color: teal;
    padding: 40px 0;
    text-align: center;
    color: turquoise;
    text-shadow: 2px 2px 2px black;
}